.selected {
  background-color: lightblue;
  color: black;
}

.correct {
  background-color: lightgreen;
  color: black;
}

.incorrect {
  background-color: red;
  color: white;
}

button {
  margin-top: 5px;
}
