.selected {
  background-color: rgb(252, 93, 93);
  color: black;
  /* text-decoration: line-through; */
}

.correct {
  background-color: rgb(128, 247, 128);
  color: black;
  border: 1.5px solid black;
}

.incorrect {
  background-color: red;
  color: white;
}

button {
  margin-top: 5px;
}
