.nav {
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem;
  background-color: rgb(190, 220, 246);
  width: 100%;
  z-index: 100;
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex; /* Add this */
  gap: 2rem; /* Add this */
}

.nav li {
  margin: 0; /* Changed from 0.5rem 0 */
}

.nav a {
  text-decoration: none;
  /* color: white; */
  color: #646cff;

  border-radius: 5px;
  padding: 5px;
}

.nav a:hover,
.nav a.active {
  color: #007bff;
  text-decoration: underline;
  background-color: #6075fe;
  color: white;
}

.logoutLink {
  background: none;
  border: none;
  padding: 0;
  margin-top: 0.4px;
  cursor: pointer;
  text-decoration: none;
  color: #333; /* Match the exact color from .nav a */
}

.logoutLink:hover {
  color: #007bff; /* Match the exact color from .nav a:hover */
  text-decoration: underline;
}

.logoutForm {
  margin: 0;
  padding: 0;
  display: contents; /* This will make the form container "disappear" from layout */
}
