#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background: url("./UI/graph.svg") no-repeat center center fixed;
  background-size: cover;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.text-box {
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white */
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  margin: 20px;
}

.text-box h1,
.text-box p {
  color: #003366; /* Dark blue for strong contrast */
  text-align: center;
}

.text-box h1 {
  font-size: 2rem;
  font-weight: bold;
}

.text-box p {
  font-size: 1.2rem;
  line-height: 1.5;
}
